MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Toboali123*
MYSQL_DATABASE=pantauduitqu
PORT=3001
OTP_REQUIRED=true
VITE_API_BASE_URL=http://localhost:3001/api
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-digit-app-password
SMTP_FROM="PantauDuitQu <your-email@gmail.com>"
